<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLAUDE_API_KEY</key>
	<string></string>
	<key>GEMINI_API_KEY</key>
	<string></string>
	<key>ISBNDB_API_KEY</key>
	<string></string>
	<key>GOOGLE_BOOKS_API_KEY</key>
	<string></string>
	<key>AMPLITUDE_API_KEY</key>
	<string></string>
	<key>META_APP_ID</key>
	<string></string>
	<key>TEST_ACCOUNT_EMAIL</key>
	<string>wellread.test@example.com</string>
	<key>TEST_ACCOUNT_PASSWORD</key>
	<string></string>
</dict>
</plist>
